.LoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 10px;
}

.formGroup {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

