.app_dark_theme {
  --dark-bg-color: #090F11;
  --inverted-dark-bg-color: #FFFFFF;

  --bg-color: #0C1214;
  --inverted-bg-color: #EFF5F6;

  --light-bg-color: #151C1F;
  --inverted-light-bg-color: #E2EEF1;

  --primary-color: #DBDBDB;
  --secondary-color: #555555;
  --inverted-primary-color: #141C1F;
  --inverted-secondary-color: #ADBCC0;

  --accent-color:#5ED3F3;
  --icon-color:#74A2B2;

  --sidebar-bg-color: #4c4c4c;

}
