.app_light_theme {
  --dark-bg-color: #FFFFFF;
  --inverted-dark-bg-color: #090F11;

  --bg-color: #EFF5F6;
  --inverted-bg-color: #0C1214;

  --light-bg-color: #E2EEF1;
  --inverted-light-bg-color: #151C1F;

  --primary-color: #141C1F;
  --secondary-color: #ADBCC0;
  --inverted-primary-color: #DBDBDB;
  --inverted-secondary-color: #555555;

  --accent-color:#00C8FF;
  --icon-color:#5ED3F3;

  --sidebar-bg-color: #ff8099;

}
