.app_light_theme {
  --dark-bg-color: #ffffff;
  --inverted-dark-bg-color: #090f11;

  --bg-color: #eff5f6;
  --inverted-bg-color: #0c1214;

  --light-bg-color: #e2eef1;
  --inverted-light-bg-color: #151c1f;

  --primary-color: #141c1f;
  --secondary-color: #adbcc0;
  --inverted-primary-color: #dbdbdb;
  --inverted-secondary-color: #555555;

  --accent-color: #00c8ff;
  --icon-color: #5ed3f3;

  --sidebar-bg-color: #ff8099;
}
