.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-light-bg-color);
  color: var(--inverted-primary-color);

  display: flex;
  align-items: center;
  justify-content: end;
  padding: 20px;
}

