.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
  border-radius: 10px;
}

.header {
  display: flex;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}